.ac-btn {
  border: none;
  display: inline-block;
  font-size: $font-size-foxstrot;
  font-family: $font-family-primary;
  outline: none;
  border-radius: 46px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  &--primary {
    color: $sky;
    background: $white;
    box-shadow: $box-shadow;

    &:hover {
      transform: translate(0, -2px);

      .ie9 & {
        transform: translate(0, 0);
      }
    }
  }

  &--secondary {
    color: $white;
    background: $sky;
    box-shadow: $box-shadow;

    &:hover {
      transform: translate(0, -2px);
      background: darken($sky, 6%);

      .ie9 & {
        transform: translate(0, 0);
      }
    }
  }

  &--tertiary {
    color: $white;
    background: $slate-40;
    box-shadow: $box-shadow;

    &:hover {
      background: darken($slate-40, 6%);
    }
  }

  &--xlarge {
    line-height: 54px;
    height: 54px;
    padding: 0 26px;
  }

  &--large {
    line-height: 46px;
    height: 46px;
    padding: 0 26px;
  }

  &--small {
    padding: 9px 18px 7px;
  }

  &--icon-left,
  &--icon-right {
    position: relative;

    img {
      position: absolute;
      top: 10px;
    }
  }

  &--icon-left {
    padding: 0 26px 0 52px;

    img {
      left: 18px;
    }
  }

  &--icon-right {
    padding: 0 52px 0 26px;

    img {
      right: 18px;
    }
  }
}
