.ac-calendar {
  position: relative;
  z-index: 2;
}

.ac-year {
  display: flex;
  align-items: center;

  &-logo {
    height: 38px;
    margin-right: 14px;
  }

  &-title {
    font-size: 2.8rem;
    font-weight: $font-weight-book;
    color: $slate-80;
    margin-top: 4px;
  }
}

.ac-conf {
  &-filters {
    margin: 20px 0;
    font-size: 14px;

    span {
      margin: 0 4px;
      color: $slate-50;
    }
    
    p {
      display: inline-block;
      margin-right: 4px;
      @media only screen and (max-width: 800px) {
      margin-bottom: 7px;
      }
    }
    
    a {
      color: $slate-50;
      padding: 0 4px;

      &:hover {
        color: $slate-80;
      }

      &.active {
        color: $sky;
      }
    }
  }

  &-title {
    font-size: 14px;
    color: $sky;
    line-height: 26px;
    margin-bottom: 10px;
  }
}

.ac-box {
  display: none;
  position: relative;
  border: 1px solid $slate-10;
  border-radius: 10px;
  padding: 12px 15px 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out box-shadow, 0.2s ease-in-out border;
  margin-bottom: 30px;

  @media only screen and (max-width: 560px) {
    margin-bottom: 20px;
  }

  &:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid $slate-20;
  }

  &.active {
    display: block;
  }

  &-title {
    font-size: $font-size-foxstrot;
    color: $slate-80;
    margin-bottom: 8px;

    span {
      font-size: 10px;
      background: rgba($slate, 0.05);
      color: $slate-50;
      padding: 4px 8px 2px;
      border-radius: 20px;
      margin-left: 5px;
      float: right;
    }
  }

  &-date {
    font-weight: $font-weight-book;
    font-size: $font-size-epsilon;
    color: $slate-50;

    span {
      margin: 0 8px;

      @media only screen and (max-width: 560px) {
        display: block;
        visibility: hidden;
        margin: 0;
        height: 0;
        margin-bottom: 4px;
      }
    }
  }

  &-flag {
    position: relative;
    top: -1px;
    height: 14px;
    margin-right: 6px;
  }
}
