.ac-footer {
  background: $cloud;
  overflow: hidden;

  .error-page & {
    margin: 200px -140px 0 -140px;
    border-top-left-radius: 50% 60px;
    border-top-right-radius: 50% 60px;
  }

  .ac-privacy-policy & {
    background: none;
  }

  &-title {
    font-size: $font-size-foxstrot;
    line-height: 24px;
    padding-bottom: 14px;
  }

  &-item {
    line-height: 36px;
    font-size: $font-size-foxstrot;
  }

  &-link {
    color: $slate-60;
    transition: color 0.2s ease;

    &:hover {
      color: $slate-80;
    }
  }

  &-copy {
    font-size: $font-size-epsilon;
    color: $slate-40;
  }
}

/* Mobile Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ac-footer {
    &-title {
      font-size: 16px;
      padding-bottom: 8px;
    }

    &-list {
      &:nth-child(n + 2) {
        margin-top: 26px;
      }
    }

    &-item {
      line-height: 28px;
    }
  }
}
