.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba($night, 0.92);

  z-index: 9;
  display: none;

  &--open {
    display: block;
  }
}

.modal {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  max-height: 60%;

  z-index: 9999;

  background: $white;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

  margin-right: auto !important;
  margin-left: auto !important;

  display: none;

  @media only screen and (max-width: 1060px) {
    width: 90%;
  }

  @media only screen and (max-width: 860px) {
    width: 96%;
    max-height: 96%;
  }

  &--open {
    display: block;
  }

  &--is-open {
    overflow: hidden;
  }

  &-header {
    padding: 40px;

    border-bottom: 1px solid $night-10;

    @media only screen and (max-width: 560px) {
      height: auto;
      padding: 20px;
    }
  }

  &-person {
    display: flex;
    flex-direction: row;
    align-items: center;

    .no-flex & {
      float: left;

      &:before,
      &:after {
        content: '';
        display: table;
      }

      &:after {
        clear: both;
      }

      > div {
        padding: 25px 0;
      }
    }

    &-img {
      width: 60px;
      margin-right: 40px;

      @media only screen and (max-width: 560px) {
        display: none;
      }

      .no-flex & {
        float: left;
      }
    }

    &-name {
      font-size: $font-size-gamma;
      color: $night-80;
      margin: 0 0 10px;

      span {
        text-transform: uppercase;
        font-size: 8px;
        background: #f4f9fa;
        color: $night-50;
        padding: 4px 6px;
        border-radius: 3px;
        margin-left: 5px;
      }
    }

    &-title {
      font-weight: $font-weight-regular;
      font-size: 14px;
      line-height: 24px;
      color: $night-50;
      margin: 0;
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    color: $night-50;
    font-size: $font-size-foxstrot;
    border-bottom: 1px solid $night-10;
    padding: 10px 40px;

    @media only screen and (max-width: 560px) {
      display: block;
      padding: 16px 20px;

      span {
        display: none;
      }
    }

    .no-flex & {
      float: right;
      padding: 25px 0;
    }

    a {
      margin-left: 20px;
      line-height: 24px;
      color: $night-50;

      @media only screen and (max-width: 560px) {
        display: block;
        margin: 0;
        line-height: 20px;
      }

      &:first-child {
        margin-left: 0;
        margin-right: 20px;

        @media only screen and (max-width: 560px) {
          margin-bottom: 4px;
        }
      }

      img {
        position: relative;
        top: -2px;
        width: 24px;
        margin-right: 5px;
      }

      .no-flex & {
        float: left;
      }
    }
  }

  &-content {
    padding: 40px;

    @media only screen and (max-width: 560px) {
      padding: 20px;
      max-height: 300px;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }

    h3 {
      color: $night-80;
      font-size: $font-size-charli;
      margin-bottom: $spacing10;
    }

    p {
      font-size: 16px;
      color: $night-50;
      letter-spacing: 0.2px;
      line-height: 23px;

      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &-ua {
    a {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: block;
      background: $gradient;
      padding: 20px 40px;
      border-radius: 0 0 15px 15px;
      text-align: center;
    }
  }

  &-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    outline: none;
    background: none;
    opacity: 0.4;
    cursor: pointer;
    transition: 0.2s ease opacity;

    &:hover {
      opacity: 0.6;
    }

    @media only screen and (max-width: 560px) {
      right: 10px;
    }
  }
}
