.ac-promote {
  text-align: center;
  padding: 100px 0;

  @media only screen and (max-width: 560px) {
    padding: 60px 0 100px;
  }

  .ac-confs & {
    margin-top: $spacing30;
    padding: 0;
  }

  &-text {
    font-size: $font-size-delta;
    color: $night-50;

    @media only screen and (max-width: 560px) {
      font-size: 1.6rem;
    }
  }

  &-btn {
    margin-top: $spacing30;
  }
}
