<section class="u-section u-section--purple u-section--both-large u-section--inhale">
  <div class="u-wrapper">
    <div class="ac-learning">
      <h1 class="ac-learning-title">Learn Angular the right way</h1>
      <p class="ac-learning-text">
        Join 50,000 others today who are mastering Angular with us through our award-winning online courses.
      </p>
      <a class="ac-learning-btn ac-btn ac-btn--primary ac-btn--large ac-btn--has-icon" target="_blank" rel="noopener" href="https://ultimateangular.com/">
        See courses<img src="/assets/img/icons/arrow-white.svg" alt="Arrow icon">
      </a>
    </div>
    <div class="learning grid-3">
      <div class="learning__block u-boxed">
        <div class="learning__title">
          <img src="/assets/img/categories/angular.svg" alt="Ultimate Angular Course">
          <h2>Angular Framework</h2>
          <p>Up-to-date with <span>v6.x</span></p>
        </div>
        <ul class="checklist">
          <li>Module Architecture and Lazy Loading</li>
          <li>Smart/Dumb Component Architecture</li>
          <li>One-way Dataflow and Immutability</li>
          <li>Reactive Forms, Validators</li>
          <li>And much more...</li>
        </ul>
      </div>
      <div class="learning__block u-boxed">
        <div class="learning__title">
          <img src="/assets/img/categories/ngrx.svg" alt="Ultimate Angular NGRX Course">
          <h2>NGRX State Management</h2>
          <p>Up-to-date with <span>v6.x</span></p>
        </div>
        <ul class="checklist">
          <li>Redux Principles and Architecture</li>
          <li>Writing a Redux Store</li>
          <li>@ngrx/store and Component Architecture</li>
          <li>Actions/Action Creators</li>
          <li>And much more...</li>
        </ul>
      </div>
      <div class="learning__block u-boxed">
        <div class="learning__title">
          <img src="/assets/img/categories/typescript.svg" alt="Ultimate Angular TypeScript Course">
          <h2>TypeScript Language</h2>
          <p>Up-to-date with <span>v2.x</span></p>
        </div>
        <ul class="checklist">
          <li>Primitive and Special Types</li>
          <li>tsc and tsconfig</li>
          <li>Type Aliases and Assertions</li>
          <li>Enums and Interfaces</li>
          <li>Classes, Properties and Inheritance</li>
          <li>And much more...</li>
        </ul>
      </div>
    </div>
    <div class="quotes grid-2">
      {%
        include generic/quote.html
        quote="Ultimate Angular brings unique enthusiasm, activity and expertise to the Angular community."
        brand="google"
        name="Brad Green"
        link="https://twitter.com/bradlygreen"
        title="Angular Product Manager, Google"
        img="brad-green"
      %}
      {%
        include generic/quote.html
        quote="Ultimate Angular's courses are one of the best online trainings that can be found."
        brand="walmart"
        name="John Oswalt"
        link="https://twitter.com/joswalt"
        title="Technology Expert, Walmart"
        img="john-oswalt"
      %}
    </div>
    <div class="ac-learning">
      <a class="ac-learning-btn ac-btn ac-btn--primary ac-btn--large ac-btn--has-icon" target="_blank" rel="noopener" href="https://ultimateangular.com/">
        See courses<img src="/assets/img/icons/arrow-white.svg" alt="Arrow icon">
      </a>
    </div>
  </div>
</section>