.u-wrapper,
%u-wrapper {
  max-width: $wrapper;
  margin: auto;

  padding: 0 10px;

  position: relative;
}

.u-clearfix,
%u-clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.u-boxed,
%u-boxed {
  background: $white;
  background-clip: padding-box;
  border: $border;
  box-shadow: $box-shadow;
  padding: $spacing30;
  border-radius: 15px;

  @media only screen and (max-width: 560px) {
    padding: $spacing20;
  }

  &--small {
    padding: $spacing30;
  }

  &--no-bottom {
    padding-bottom: 0;

    @media only screen and (max-width: 560px) {
      padding-bottom: 10px;
    }
  }
}

.u-video-responsive,
%u-video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  iframe {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
}

.u-text-center {
  text-align: center;
}

.u-push40 {
  margin-top: 40px;
}

.u-push80 {
  margin-top: 80px;
}

.u-section {
  padding: 180px 0 0;

  &-row {
    @include z-index(relative, 5);
    margin-top: 80px;

    &:first-child {
      margin-top: 0;
    }

    &--border {
      border-top: 1px solid $slate-10;
      padding-top: 80px;
    }

    &--small {
      margin-top: 60px;
    }

    &--large {
      margin-top: 120px;
    }

    &--zindex {
      z-index: 10;
    }
  }

  // layout
  &--equal {
    padding: 180px 0;
  }

  &--large {
    padding: 340px 0 180px;
  }

  &--small {
    padding: 120px 0 0;
  }

  &--reviews {
    padding-top: 160px;
  }

  // decoration
  &--grey {
    background: $cloud;

    .uc-affiliate & {
      margin-top: 180px;
    }
  }

  &--coloured {
    background: linear-gradient(-45deg, $honey -45%, $passion 100%);

    .ie9 & {
      background: rgba($passion, 0.9);
    }
  }

  &--rounded {
    margin: 0 -140px;

    &-top {
      border-top-left-radius: 50% 60px;
      border-top-right-radius: 50% 60px;
    }

    &-bottom {
      border-bottom-left-radius: 50% 60px;
      border-bottom-right-radius: 50% 60px;
    }

    &-top-bottom {
      border-top-left-radius: 50% 60px;
      border-top-right-radius: 50% 60px;
      border-bottom-left-radius: 50% 60px;
      border-bottom-right-radius: 50% 60px;
    }
  }

  &--clean {
    padding: 0;
  }
}

/* Mobile Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .u-section {
    padding: 120px 0 0;

    &--brands {
      padding: 60px 0 0;
    }

    &-row {
      margin-top: 50px;

      &:first-child {
        margin-top: 0;
      }

      &--border {
        padding-top: 50px;
      }
    }

    // layout
    &--equal {
      padding: 120px 0;
    }

    &--large {
      padding: 120px 0 0;
    }

    &--small {
      padding: 120px 0 120px;
    }

    &--reviews {
      // display: none;
    }

    &--rounded {
      margin: 0;
      padding: 0;

      &-top {
        border-top-left-radius: 50% 10px;
        border-top-right-radius: 50% 10px;
      }

      &-bottom {
        border-bottom-left-radius: 50% 10px;
        border-bottom-right-radius: 50% 10px;
      }

      &-top-bottom {
        border-top-left-radius: 50% 10px;
        border-top-right-radius: 50% 10px;
        border-bottom-left-radius: 50% 10px;
        border-bottom-right-radius: 50% 10px;
      }
    }

    &--coloured {
      background: linear-gradient(-36deg, $honey -12%, $passion 120%);

      &:before {
        display: none;
      }
    }

    &--clean {
      padding: 0;
    }
  }
}

/* Tablet Portrait and Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .u-section {
    padding: 140px 0 0;

    &-row {
      margin-top: 80px;

      &:first-child {
        margin-top: 0;
      }
    }

    // layout
    &--equal {
      padding: 140px 0;
    }

    &--large {
      padding: 220px 0 80px;
    }

    &--small {
      padding: 100px 0;
    }

    &--rounded {
      margin: 0 -40px;
      padding: 0;

      &-top {
        border-top-left-radius: 50% 20px;
        border-top-right-radius: 50% 20px;
      }

      &-bottom {
        border-bottom-left-radius: 50% 20px;
        border-bottom-right-radius: 50% 20px;
      }

      &-top-bottom {
        border-top-left-radius: 50% 20px;
        border-top-right-radius: 50% 20px;
        border-bottom-left-radius: 50% 20px;
        border-bottom-right-radius: 50% 20px;
      }
    }

    &--clean {
      padding: 0;
    }
  }
}

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .u-section {
    padding: 120px 0 0;

    &-row {
      margin-top: 60px;

      &:first-child {
        margin-top: 0;
      }
    }

    // layout
    &--equal {
      padding: 120px 0;
    }

    &--large {
      padding: 120px 0 0;
    }

    &--rounded {
      padding: 0;
    }

    &--clean {
      padding: 0;
    }
  }
}
