.ac-hero {
  position: relative;

  &-content {
    width: 500px;
    padding-top: 240px;
  }

  &-title {
    font-size: 5rem;
    letter-spacing: -0.2px;
    line-height: 56px;
    margin: 0 0 $spacing20;
  }

  &-subtitle {
    font-size: 1.8rem;
    color: $slate-60;
    line-height: 28px;
    margin: 0 0 $spacing40;
  }

  &-graphic {
    @include z-index(absolute, 0);
    top: -570px;
    left: 50%;

    height: 1120px;
    width: 1120px;
    background: linear-gradient(-54deg, #FBD863 0%, #FF5ACD 94%);
    border-radius: 50%;

    .ie9 & {
      background: $passion;
    }
  }
}

/* Mobile Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ac-hero {
    margin-bottom: -80px;

    &-content {
      width: 100%;
      padding-top: 200px;
      padding-bottom: 0;
      text-align: center;
    }

    &-title {
      font-size: 3.2rem;
      line-height: 40px;
      margin: 0 0 14px;
    }

    &-subtitle {
      font-size: 1.6rem;
      line-height: 24px;
      margin: 0 0 $spacing30;
    }

    &-graphic {
      top: -980px;
      left: -260px;
      background: linear-gradient(-54deg, #FBD863 0%, #FF5ACD 60%);
    }
  }
}

/* Tablet Portrait and Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .ac-hero {
    &-content {
      width: 450px;
    }

    &-title {
      font-size: 4rem;
      line-height: 50px;
      margin: 0 0 18px;
    }

    &-subtitle {
      font-size: 1.8rem;
      line-height: 28px;
      margin: 0 0 $spacing30;
    }

    &-graphic {
      top: -630px;
      left: 512px;
    }
  }
}

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .ac-hero {
    &-content {
      width: 100%;
      margin-top: 340px;
      margin-bottom: 20px;
      padding-bottom: 0;
      text-align: center;
    }

    &-title {
      font-size: 3.6rem;
      line-height: 50px;
      margin: 0 0 10px;
    }

    &-subtitle {
      font-size: 1.6rem;
      line-height: 28px;
      margin: 0 0 $spacing30;
    }

    &-graphic {
      top: -835px;
      left: 124px;

      /* TODO: Change to tablet image */
      background: url('/assets/img/hero/hero.svg') center center no-repeat;
    }
  }
}
