<div class="ac-heading{% if include.class %} {{ include.class }}{% endif %}">
    <h2 class="ac-heading-title">
      {{ include.title }}
    </h2>
    {% if include.subtitle %}
      <p class="ac-heading-subtitle">
        {{ include.subtitle }}
      </p>
    {% endif %}
    {% if include.button %}
      <a class="ac-heading-btn ac-btn ac-btn--secondary ac-btn--large ac-btn--icon-right" href="{{ include.href }}" role="button">
        {{ include.button }}<img src="/assets/img/icon/arrow_right-white-24px.svg" alt="Arrow icon">
      </a>
    {% endif %}
  </div>