<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ultimateangular">
<meta name="twitter:creator" content="@ultimateangular">
<meta name="twitter:title" content="🔥 The world's best Angular events, all in one place. See what's happening:">
<meta name="twitter:description" content="Find the next Angular Conference near you!">
<meta name="twitter:image" content="/assets/img/social/share.png">
<meta property="og:url" content="https://angularconferences.com">
<meta property="og:type" content="website">
<meta property="og:title" content="🔥 The world's best Angular events, all in one place. See what's happening:">
<meta property="og:description" content="Find the next Angular Conference near you!">
<meta property="og:image"  content="/assets/img/social/share.png">

