<!doctype html>
<html>
  {% include head.html %}
  <body class="{% if page.url == '/' %}index{% else %}{{page.url | remove: '/' | prepend: 'ac-'}}{% endif %}">
    <header class="ac-header ac-header--page" role="banner">
      <h2 class="ac-header__intro">Privacy Policy</h2>
    </header>
    <main role="u-main">      
      <div class="u-wrapper">
        <article class="ac-article">{{ content }}</article>
      </div>
    </main>
    {% include footer.html %}
    <script src="/assets/js/bundle.min.js?{{site.time | date: '%s%N'}}" async></script>
  </body>
</html>
